<ion-view view-title="">
  <ion-content>
  <div ng-if="!user">
  	<h1>Login to {{store}}</h1>
    <form ng-submit="login()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </div>
  <div ng-if="user">
  	<h1>You're already logged in!</h1>
  </div>
  </ion-content>
</ion-view>
